@use "./root.sass"
@use "./PerfectScrollbar.sass"
@use "./tippy.sass"

// @forward "vendor/tailwind.css"
/* karla-regular - latin */
@font-face
	font-display: swap // Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options.
	font-family: 'Karla'
	font-style: normal
	font-weight: 400
	src: url('/fonts/karla-regular.woff2') format('woff2') // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+

// Needed for tippy.js
html
	--popper-theme-background-color: #ffffff
	--popper-theme-background-color-hover: #ffffff
	--popper-theme-text-color: #333333
	--popper-theme-border-width: 1px
	--popper-theme-border-style: solid
	--popper-theme-border-color: #eeeeee
	--popper-theme-border-radius: 6px
	--popper-theme-padding: 32px
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25)

html.dark
	--popper-theme-background-color: #333333
	--popper-theme-background-color-hover: #333333
	--popper-theme-text-color: white
	--popper-theme-border-width: 0px
	--popper-theme-border-radius: 6px
	--popper-theme-padding: 32px
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25)

.g-glass
	border: none
	backdrop-filter: blur(var(--glass-blur, 40px))
	background-color: #0000
	box-shadow: 0 0 0 1px oklch(100% 0 0 / var(--glass-border-opacity, 20%)) inset, 0 0 0 2px oklch(0% 0 0 / 5%)
	text-shadow: 0 1px oklch(0% 0 0 / var(--glass-text-shadow-opacity, 5%))
