@forward "vendor/tailwind.css"
@use "./PerfectScrollbar"

/* karla-regular - latin */
@font-face
	font-display: swap // Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options.
	font-family: 'Karla'
	font-style: normal
	font-weight: 400
	src: url('/fonts/karla-regular.woff2') format('woff2') // Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+

:root
	/* Light Colors */
	--L-gra: hsl(0, 0%, 90%)
	--L-pur: hsl(271, 60%, 70%)
	--L-pin: hsl(330, 60%, 70%)
	--L-blu: hsl(217, 60%, 70%)
	--L-gre: hsl(142, 60%, 70%)
	--L-yel: hsl(45, 60%, 70%)

	/* Dark Colors */
	--D-gra: hsl(229, 14%, 22%)
	--D-pur: hsl(274, 60%, 20%)
	--D-pin: hsl(336, 60%, 20%)
	--D-blu: hsl(217, 60%, 20%)
	--D-gre: hsl(145, 60%, 20%)
	--D-yel: hsl(26, 60%, 20%)

	/* Dark Theme */
	--th_gra1: hsl(225, 10%, 05%)
	--th_gra2: hsl(220, 10%, 10%)
	--th_gra3: hsl(220, 10%, 15%)
	--th_gra4: hsl(220, 10%, 20%)

	--th_pur1: hsl(271, 30%, 05%)
	--th_pur2: hsl(271, 30%, 10%)
	--th_pur3: hsl(271, 30%, 15%)
	--th_pur4: hsl(271, 30%, 20%)

	--th_pin1: hsl(330, 30%, 05%)
	--th_pin2: hsl(330, 30%, 10%)
	--th_pin3: hsl(330, 30%, 15%)
	--th_pin4: hsl(330, 30%, 20%)

	--th_blu1: hsl(219, 30%, 05%)
	--th_blu2: hsl(217, 30%, 10%)
	--th_blu3: hsl(217, 30%, 15%)
	--th_blu4: hsl(217, 30%, 20%)

	--th_gre1: hsl(142, 30%, 05%)
	--th_gre2: hsl(142, 30%, 10%)
	--th_gre3: hsl(142, 30%, 15%)
	--th_gre4: hsl(142, 30%, 20%)

	--th_yel1: hsl(45, 30%, 05%)
	--th_yel2: hsl(45, 30%, 10%)
	--th_yel3: hsl(45, 30%, 15%)
	--th_yel4: hsl(45, 30%, 20%)

	--Theme1: var(--th_gra1)
	--Theme2: var(--th_gra2)
	--Theme3: var(--th_gra3)
	--Theme4: var(--th_gra4)

	/* Light Theme */
	--Lth_gra1: hsl(0, 0%, 60%)
	--Lth_gra2: hsl(0, 0%, 70%)
	--Lth_gra3: hsl(0, 0%, 80%)
	--Lth_gra4: hsl(0, 0%, 90%)

	--Lth_pur1: hsl(271, 10%, 60%)
	--Lth_pur2: hsl(271, 10%, 70%)
	--Lth_pur3: hsl(271, 10%, 80%)
	--Lth_pur4: hsl(271, 10%, 90%)

	--Lth_pin1: hsl(330, 10%, 60%)
	--Lth_pin2: hsl(330, 10%, 70%)
	--Lth_pin3: hsl(330, 10%, 80%)
	--Lth_pin4: hsl(330, 10%, 90%)

	--Lth_blu1: hsl(235, 10%, 60%)
	--Lth_blu2: hsl(235, 10%, 70%)
	--Lth_blu3: hsl(235, 10%, 80%)
	--Lth_blu4: hsl(235, 10%, 90%)

	--Lth_gre1: hsl(142, 10%, 60%)
	--Lth_gre2: hsl(142, 10%, 70%)
	--Lth_gre3: hsl(142, 10%, 80%)
	--Lth_gre4: hsl(142, 10%, 90%)

	--Lth_yel1: hsl(45, 10%, 60%)
	--Lth_yel2: hsl(45, 10%, 70%)
	--Lth_yel3: hsl(45, 10%, 80%)
	--Lth_yel4: hsl(45, 10%, 90%)

	--LTheme1: var(--Lth_gra1)
	--LTheme2: var(--Lth_gra2)
	--LTheme3: var(--Lth_gra3)
	--LTheme4: var(--Lth_gra4)

	/* Header Height */
	--HeaderHeight: 3.5rem

	/* Status bar Height */
	/* --StatusBarHeight: 4.5rem */

	/* LeftSides Height */
	--DokuListsHeight: calc(100vh - var(--HeaderHeight))

	/* Dark Border */
	--borderFavColor: var(--D-gra)
	/* Light Border */
	--LborderFavColor: var(--L-gra)

	/* Main Color */
	--light-fav-color: var(--L-gra)
	--dark-fav-color: var(--D-gra)

html
	--popper-theme-background-color: #ffffff
	--popper-theme-background-color-hover: #ffffff
	--popper-theme-text-color: #333333
	--popper-theme-border-width: 1px
	--popper-theme-border-style: solid
	--popper-theme-border-color: #eeeeee
	--popper-theme-border-radius: 6px
	--popper-theme-padding: 32px
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25)

html.dark
	--popper-theme-background-color: #333333
	--popper-theme-background-color-hover: #333333
	--popper-theme-text-color: white
	--popper-theme-border-width: 0px
	--popper-theme-border-radius: 6px
	--popper-theme-padding: 32px
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25)

body
	font-family: 'Karla', Arial, sans-serif
	@apply bg-(--LTheme2) dark:bg-(--Theme2) pt-11

::selection
	background: var(--favColor)

// button
// 	user-select: none

// .container-center
// 	@apply container mx-auto px-4
//

.g-glass
	border: none
	backdrop-filter: blur(var(--glass-blur, 40px))
	background-color: #0000
	box-shadow: 0 0 0 1px oklch(100% 0 0 / var(--glass-border-opacity, 20%)) inset, 0 0 0 2px oklch(0% 0 0 / 5%)
	text-shadow: 0 1px oklch(0% 0 0 / var(--glass-text-shadow-opacity, 5%))

// Lye Styles
.lye-container
	@apply w-full flex flex-row gap-4 flex-wrap justify-between items-stretch
	.lyeWidget
		@apply relative w-full sm:w-72 min-h-[280px] max-h-120 px-2 border-3 pb-4 pt-6 my-4 rounded-2xl flex flex-col gap-2 bg-(--LTheme2) dark:bg-(--Theme2)
		.lye-head
			@apply absolute z-10 pl-4 flex items-center justify-between -top-5 left-[50%] -translate-x-[50%] w-[90%] p-2 rounded-full bg-linear-to-r to-zinc-500 dark:to-zinc-700
			span.lye-label
				@apply text-zinc-800 dark:text-zinc-100 font-bold
			button.lye-help
				@apply w-5 h-5 rounded-full flex items-center justify-center text-sm mr-2 text-black dark:text-white font-bold

.main-padding-x
	@apply px-8
